/LegendaryWorkspace/.metadata
*.class
/LegendaryWorkspace/Servers/.settings
/LegendaryWorkspace/Servers/.project
/LegendaryWorkspace/Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
/LegendaryWorkspace/Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
/LegendaryWorkspace/Servers/Tomcat v9.0 Server at localhost-config/server.xmlooooo
/LegendaryWorkspace/Servers/Tomcat v9.0 Server at localhost-config/tomcat-users.xml
/LegendaryWorkspace/Servers/Tomcat v9.0 Server at localhost-config/catalina.policy/web.xml
